body {
  background: hotpink;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
  display: flex;
}

#root {
  margin: auto;
  background-color: yellow;
  font-weight: 400;
  padding: 20px;
  height: calc(100vh - 80px);
}

h1 {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 0 10px 0;
  letter-spacing: 2px;
}

#container {
  /* display: flex;
  flex-direction: column;
  width: 100%; */
}

li {
  list-style: none;
}

#board {
  background-color: grey;
  /* border: solid 5px black; */
  display: grid;
  grid-template-columns: repeat(6, 80px);
  grid-template-rows: repeat(6, 80px);
  grid-gap: 10px;
  height: calc(100vh - 120px);
}

#square {
  /* background-color: darkkhaki; */
  /* border: solid 2px darkblue; */
  /* height: 80px;
  width: 80px; */
}

#text {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  height: 80px;
  width: 80px;
}
